/* ---------------------------------------------------------GENERAL STYLES--------------------------------------------------------- */

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #F8F0E4;
}


/* ------------------------------------------------------------PORTADA-------------------------------------------------------------- */


.portada {
    background-image: url('https://i.postimg.cc/PJj3FMBL/IMG-9626.avif');
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    color: white;


}


/* ------------------------------------------------------------SPOILER-------------------------------------------------------------- */

.spoilerSection {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: 5%;
    background-color: #F8F0E4;
}

.tituloSpoiler {
    background-color: #6C9772;
    border-radius: 7px;
    color: white;
    padding: 5px;
    margin-top: -7%;
    margin-bottom: -5%;
    z-index: 1;
}

.videoSpoiler {
    z-index: 0;
}

.textoSpoilerContainer {
    width: 100%;
    background-image: url("../../assets/webp/texturaCeleste.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.textoSpoiler {
    background-color: #F8F0E4;
    padding: 1%;
    border-radius: 7px;
}


/* ------------------------------------------------------------Explayar-------------------------------------------------------------- */

.explayarSection {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 1;
}

.divTextoExplayar {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textoResaltar {
    background-color: #CB1428;
    color: #F8F0E4;
    padding: 1%;
    border-radius: 7px;
}

/* ------------------------------------------------------------Cumple-------------------------------------------------------------- */


.cumpleSection {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 1;
}


.cumpleFoto {
    width: 100%;
    height: auto;
    border-radius: 7px;
}

/* -------------------------------------------------------------EXTRA-------------------------------------------------------------- */

.extraSection {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 1;
}

.divExtra {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 1;
}

.divTextoExtra {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 1;
}

.textoIzquierda {
    text-align: left;
}

.extra {
    background-color: #6C9772;
    color: #F8F0E4;
    padding: 1%;
    border-radius: 7px;
    margin-top: 2%;
}

.resaltado {
    background-color: #6C9772;
    color: #F8F0E4;
    padding: 1%;
    border-radius: 7px;
}


/* ------------------------------------------------------------MERCH-------------------------------------------------------------- */

.tituloTexto {
    color: #CB1428;
    font-weight: bold;
    font-size: 2rem;
}



.divGenesis {
    width: 90%;
}



.nocheAnterior {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 1;
    color: white;
    background-color: #6C9772;
}

.divtextonoche {
    width: 90%;
}


/* -------------------------------------------------------------pizza--------------------------------------------------------------- */


.piza{
    width: 100;
}

.Harina{
    width: 100%;
}


/* --------------------------------------------------------------------FINAL--------------------------------------------------------------- */

.final{
    width: 90%;
}