.container{
   width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.portada {
    background-image: url('https://i.postimg.cc/FzSRqkKY/portada4.webp');
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
    color: white;
}

/* ------------------------------------------------------------------EXTRA--------------------------------------------------------------- */

.sectionExtra{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 1;
}

.divtituloExtra{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloExtra{
    font-size: 1.7rem;

}

.resaltadoExtra{
    background-color: #669BBB;
    color: white;
    padding: 1%;
    border-radius: 7px;
}

.divParrafoExtra{
    width: 90%;
    text-align: left;
}

.sectionImgMovida{
    width: 100%;
    height: 100%;
}

.imgMovida{
    width: 100%;
    height: 100%;
}



.sectionIngles{
     width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 1;
}

.tituloingles{
    font-size: 1.7rem;
    color: #669BBB;
}


.sectionImg{
    width: 100%;
    background-color: #CB1428;
}

.mapaImg{
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.tituloMapa{
    font-size: 1.7rem;
    color:  #F8F0E4;
}

.tituloOperacionCima{
    font-size: 2.7rem;
    color:  #E98E13;
}

.sectionOperacionCima{
    width: 90%;
}

.sectionPDP{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 1;
}

.tituloPDP{
    font-size: 1.4rem;
    color: #669BBB;
}

.sectionExperimenta{
    background-color: #6C9772;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloExperimenta{
    font-size: 1.7rem;
    color: #F8F0E4;
}

.imagenExperimenta{
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.textoExperimenta{
    width: 90%;
    color: #F8F0E4;
}

.tituloGabi{
    font-size: 1.7rem;
    color: #669BBB;
}

.sectionGabi{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 1;
}